button.negative {
  background-color: var(--color-mid);
}

button.negative:hover {
  background-color: var(--color-light-2);
  border-color: var(--color-mid);
}
button.negative:active {
  border-color: var(--color-mid);
  background-color: var(--color-mid);
}
