#register {
  background-image: url('/assets/boardgame02.avif');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0;
  padding: var(--spacing-m);
  color: var(--color-light-1);
}
