#register {
  background-image: url('/assets/boardgame02.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: var(--spacing-m);
  color: var(--color-light-1);
  flex-grow: 1;
  justify-content: center;
}

#register a {
  color: var(--color-accent-1);
  font-weight: bold;
}
