:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Colors*/
  --color-light: #f5f7fa;
  --color-dark: #211a15;
  --color-mid: #dedee1;
  --color-accent: #fcd109;

  /* Spacings */
  --spacing-xl: 50px;
  --spacing-l: 30px;
  --spacing-m: 20px;
  --spacing-s: 10px;
  --spacing-xs: 5px;

  /* Border radius */
  --border-radius-l: 15px;
  --border-radius-s: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#meeple-logo {
  height: 50px;
  width: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}
