#next-events {
  display: block;
  margin-top: var(--spacing-l);
  padding: var(--spacing-s);
  width: 100%;
}

#next-events > div {
  display: flex;
  justify-content: center;
}
#next-events > div > img {
  margin: var(--spacing-l);
}

#next-events > div.events-container {
  justify-content: flex-start;
  gap: var(--spacing-l);
  padding: var(--spacing-l);
  overflow-x: scroll;
}
/* width */
#next-events > div.events-container::-webkit-scrollbar {
  height: 8px;
}

/* Track */
#next-events > div.events-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#next-events > div.events-container::-webkit-scrollbar-thumb {
  background: var(--color-dark-1);
}

/* Handle on hover */
#next-events > div.events-container::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-2);
}

#next-events article {
  width: 220px;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  gap: var(--spacing-s);
  box-shadow: 5px 10px 15px 3px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

#next-events article > div {
  width: 100%;
}
#next-events article > div > img {
  width: 100%;
}
#next-events article > div.event-info {
  padding: var(--spacing-m);
  padding-top: var(--spacing-xs);
}
