#create-event {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
}
#create-event.visible {
  pointer-events: auto;
  opacity: 1;
}
#create-event form {
  z-index: 110;
}
#create-event label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-dark-1);
  padding: 0 0.2em;
  color: var(--color-accent-1);
}

#create-event input:valid {
  border-color: var(--color-light-1);
}

#create-event input:focus {
  border-color: var(--color-accent-1);
}

#create-event button {
  transition: all 200ms linear;
  letter-spacing: 1px;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  font-weight: 600;
}

#create-event span {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  background-color: var(--color-accent-1);
  color: var(--color-dark-1);
  box-shadow: 0 12px 25px 0 rgba(16, 39, 112, 0.25);
  transition: all 200ms linear;
  cursor: pointer;
}
#create-event span:hover {
  background-color: var(--color-dark-1);
  color: var(--color-accent-1);
}
